<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>toCheckLogin</servlet-name>
        <servlet-class>pack.toCheckLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>toCheckLogin</servlet-name>
        <url-pattern>/toCheckLogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>toCheckRegist</servlet-name>
        <servlet-class>pack.toCheckRegist</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>toCheckRegist</servlet-name>
        <url-pattern>/toCheckRegist</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>toUserUpdate</servlet-name>
        <servlet-class>pack.toUserUpdate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>toUserUpdate</servlet-name>
        <url-pattern>/toUserUpdate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddListServer</servlet-name>
        <servlet-class>AddListServer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddListServer</servlet-name>
        <url-pattern>/AddListServer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteListServer</servlet-name>
        <servlet-class>DeleteListServer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteListServer</servlet-name>
        <url-pattern>/DeleteListServer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PieChartServlet</servlet-name>
        <servlet-class>PieChartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PieChartServlet</servlet-name>
        <url-pattern>/PieChartServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BarChartServlet</servlet-name>
        <servlet-class>BarChartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BarChartServlet</servlet-name>
        <url-pattern>/BarChartServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SetListServlet</servlet-name>
        <servlet-class>SetListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SetListServlet</servlet-name>
        <url-pattern>/SetListServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetWord</servlet-name>
        <servlet-class>pack.GetWord</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetWord</servlet-name>
        <url-pattern>/GetWord</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetUnknown</servlet-name>
        <servlet-class>pack.GetUnknown</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetUnknown</servlet-name>
        <url-pattern>/GetUnknown</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RGetWord</servlet-name>
        <servlet-class>pack.RGetWord</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RGetWord</servlet-name>
        <url-pattern>/RGetWord</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RGetUnknown</servlet-name>
        <servlet-class>pack.RGetUnknown</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RGetUnknown</servlet-name>
        <url-pattern>/RGetUnknown</url-pattern>
    </servlet-mapping>
</web-app>